p {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  text-indent: 0;
}
pre {
  padding: 0.6em;
  border: 0.06em solid;
}
dt {
  font-weight: bold;
}
dd {
  margin-inline-start: 1.5em;
}
code .token-emphasis {
  font-weight: bold;
}
code .token-comment {
  font-style: italic;
}
